/* Keyframes */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes change-color {
  0% {
    color: var(--primary-color);
  }
  25% {
    color: var(--secondary-color);
  }
  50% {
    color: var(--tertiary-color);
  }
  75% {
    color: var(--quaternary-color);
  }
  100% {
    color: var(--primary-color);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 50%;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 3px 1px 1px var(--primary-color),
  -4px -1px 1px var(--secondary-color); */
@keyframes glitch {
  0% { 
    text-shadow: 3px 1px 1px #ff00ea9a, -4px -1px 1px #00f3ff9a;
  }
  20% {
    text-shadow: 3px 1px 1px #00f3ff9a, -4px -1px 1px #ff00ea9a;
  }
  40% {
    text-shadow: 1px 2px 1px #ff00ea9a, -1px -1px 1px #00f3ff9a;
  }
  60% {
    text-shadow: 3px 1px 1px #00f3ff9a, -4px -1px 1px #ff00ea9a;
  }
  80% {
    text-shadow: 1px 1px 1px #ff00ea9a, -1px -1px 1px #00f3ff9a;
  }
  100% {
    text-shadow: 4px -1px 1px #00f3ff9a, -4px -1px 1px #ff00ea9a;
  }
}

@keyframes glitchBox {
  0% {
    box-shadow: 1px 1px 1px #ff00ea48, -3px -1px 1px #00f3ff48;
  }
  20% {
    box-shadow: 1px 2px 1px #00f3ff48, -3px -1px 1px #ff00ea48;
  }
  40% {
    box-shadow: 3px 2px 1px #ff00ea48, -1px -1px 1px #00f3ff48;
  }
  60% {
    box-shadow: 3px 1px 1px #00f3ff48, -1px -1px 1px #ff00ea48;
  }
  80% {
    box-shadow: 1px 1px 1px #ff00ea48, -1px -1px 1px #00f3ff48;
  }
  100% {
    box-shadow: 1px 1px 1px #00f3ff48, -1px -1px 1px #ff00ea48;
  }
}

@keyframes neonBox {
  0% {
    box-shadow: 0 0 30px var(--black-1), 0 0 5px var(--neon-quaternary-color);
  }
  25% {
    box-shadow: 0 0 32px var(--black-1), 0 0 10px var(--neon-quaternary-color);
  }
  50% {
    box-shadow: 0 0 35px var(--black-1), 0 0 20px var(--neon-quaternary-color);
  }
  75% {
    box-shadow: 0 0 32px var(--black-1), 0 0 10px var(--neon-quaternary-color);
  }
  100% {
    box-shadow: 0 0 30px var(--black-1), 0 0 5px var(--neon-quaternary-color);
  }
}

/* Animations */
.slideLeftAnim {
  animation: slide-in-left 3s ease-out;
  -webkit-animation: slide-in-left 3s ease-out;
}

.slideLeftFast {
  animation: slide-in-left 2s ease-in-out;
  -webkit-animation: slide-in-left 2s ease-in-out;
}

.slideRightAnim {
  animation: slide-in-right 3s ease-out;
  -webkit-animation: slide-in-right 3s ease-out;
}

.changeColorAnim {
  animation: change-color 10s ease-in-out infinite;
  -webkit-animation: change-color 10s ease-in-out infinite;
}

.bounceAnim {
  animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
}

.bounceAnimFast {
  animation: bounce 0.9s infinite;
  -webkit-animation: bounce 0.9s infinite;
}

.opacityAnim {
  animation: opacity 5s ease-in-out infinite;
  -webkit-animation: opacity 5s ease-in-out infinite;
}

.fadeInAnim {
  animation: fade-in 3s ease-in-out;
  -webkit-animation: fade-in 3s ease-in-out;
}

.glitchAnim {
  animation: glitch 1s infinite;
  -webkit-animation: glitch 1s infinite;
}

.glitchAnimBox {
  animation: glitchBox 1s infinite;
  -webkit-animation: glitchBox 1s infinite;
}

.neonBox {
  animation: neonBox 3s ease-in-out infinite;
  -webkit-animation: neonBox 3s ease-in-out infinite;
}

/* Other styles... */
.slideLeftChangeColor {
  animation: slide-in-left 3s ease-out, change-color 10s ease-in-out infinite;
  -webkit-animation: slide-in-left 3s ease-out,
    change-color 10s ease-in-out infinite;
}

.bounceFastChangeColor {
  animation: bounce 0.9s infinite, change-color 10s ease-in-out infinite;
  -webkit-animation: bounce 0.9s infinite, change-color 10s ease-in-out infinite;
}

.bounceFastGlitch {
  animation: bounce 0.9s infinite, glitch 2s ease-in-out infinite;
  -webkit-animation: bounce 0.9s infinite, glitch 2s ease-in-out infinite;
}

.slideLefglitchAnim {
  animation: slide-in-left 3s ease-out, glitch 2s infinite;
  -webkit-animation: slide-in-left 3s ease-out, glitch 2s infinite;
}

.glitchAnimHover:hover{
  animation: glitch 2s ease-in-out infinite;
  -webkit-animation: glitch 2s ease-in-out infinite;
}

.glitchAnimBoxHover:hover {
  animation: glitchBox 2s ease-in-out infinite;
  -webkit-animation: glitchBox 2s ease-in-out infinite;
}