/* The sidepanel menu */
.sidepanel {
  height: 100vh;
  width: 0%;
  max-width: 250px;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: var(--bg-200);
  overflow-x: hidden;
  padding-top: 60px;
  border-left: 2px solid var(--bg-300);
  transition: 0.5s ease-in;
  border-radius: 5px 0px 0px 10px;
}

/* Sidepanel links */
.sidepanel a {
  display: block;
  font-size: 1.2rem;
  color: var(--text-100);
  text-decoration: none;
  padding: 8px 8px 8px 12px;
  border-bottom: 1px solid var(--bg-300);
}
.sidepanel i {
  margin-right: 3px;
}
/* hover change their color */
.sidepanel a:hover {
  color: var(--text-200);
  text-shadow: 2px 1px 1px var(--primary-100);
  background-color: var(--accent-100);
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
  color: red;
  border: none;
  padding: 20px;
  background-color: transparent;
}
.closebtn:hover {
  transform: scale(1.2);
}
/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 1.5rem;
  color: var(--text-100);
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.openbtn:hover {
  text-shadow: 3px 1px 1px var(--primary-100), -4px -1px 1px var(--accent-100);
}
/* Transition */
.openbtn:hover,
.sidepanel a:hover,
.sidepanel a,
.closebtn,
.closebtn:hover,
.openbtn {
  transition: 0.3s;
}
